[Unit]
Description=Radio Web Application
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/lalten/radio
ExecStart=uv run python /root/lalten/radio/main.py
Restart=always

[Install]
WantedBy=multi-user.target
